# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Security (Never upload these) ---
.env
.DS_Store

# --- Backend Junk ---
sonic-backend/__pycache__/
sonic-backend/songs/
*.mp3

# --- Frontend Junk ---
sonic-frontend/node_modules/
sonic-frontend/dist/
